$brand-primary: #EB5757;
$brand-primary-dark: #8D0F0F;
$brand-grey: #333333;
$brand-white: #FFFFFF;
$text-primary: #FFFFFF;

$footer-background: #250E0E;

$border-radius: 7px;

$font-size-header: 22pt;
$font-size-header-mobile: 16pt;
$font-size-normal: 15px;
$font-weight-header: 700;