.home-container {
  background-color: #EB5757;
  height: 100%; }

.home-content .row .column {
  padding: 15px; }

.header-text-wrapper {
  position: absolute;
  left: 43%;
  top: 0;
  font-size: 15px;
  height: 100%; }

.header-text-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px; }

.header-image-wrapper {
  position: relative;
  font-size: 0;
  overflow: hidden; }
  .header-image-wrapper .header-image {
    mix-blend-mode: multiply;
    background-color: #8D0F0F; }
  @media screen and (min-width: 900px) {
    .header-image-wrapper .header-image {
      width: 100%; }
    .header-image-wrapper .header-avatar {
      position: absolute;
      left: 18.3%;
      bottom: 0px;
      height: 100%; } }
  @media screen and (max-width: 899px) {
    .header-image-wrapper .header-image {
      transform: translateX(-30%);
      height: calc(100vh - 60px); }
    .header-image-wrapper .header-avatar {
      position: absolute;
      left: -41vh;
      bottom: 0px;
      height: 100%; } }

.home-top-message {
  position: relative;
  top: -7px;
  max-width: 460px;
  margin: 45px auto 25px auto; }

.project-list .project-list-item {
  list-style-type: none;
  margin-bottom: 0.5rem;
  background-color: #FFFFFF;
  padding: 7px;
  border-radius: 7px; }
  .project-list .project-list-item.project-list-item--github {
    background-image: url("../images/github-mark-32px.png");
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 36px;
    background-position: 7px; }
  .project-list .project-list-item a {
    color: #333333; }
