@media screen and (min-width: 1470px) {
  .grid-item, .grid-sizer {
    width: 24.25%;
    box-sizing: border-box; }
  .gutter-sizer {
    width: 1%; } }

@media screen and (min-width: 100px) and (max-width: 1469px) {
  .grid-item, .grid-sizer {
    width: 32.5%;
    box-sizing: border-box; }
  .gutter-sizer {
    width: 1.25%; } }

@media screen and (min-width: 550px) and (max-width: 999px) {
  .grid-item, .grid-sizer {
    width: 49%;
    box-sizing: border-box; }
  .gutter-sizer {
    width: 2%; } }

@media screen and (max-width: 549px) {
  .grid-item, .grid-sizer {
    width: 100%;
    box-sizing: border-box; }
  .gutter-sizer {
    width: 0%; } }

.grid-item {
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px; }
  .grid-item .grid-item-header {
    font-size: 22pt;
    font-weight: 700;
    margin-bottom: 7px; }
  .grid-item .grid-image-wrapper {
    margin-top: 5px;
    margin: 20px -20px 20px -20px;
    padding: 40px 30px;
    height: 205px;
    background: #FFFFFF; }
  .grid-item .grid-image {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.skills-top-text {
  margin-bottom: 15px; }
