.home-container {
    background-color: $brand-primary;
}

.home-content {
    .row {
        .column {
            padding: 15px;
        }
    }
}

.header-text-wrapper {
    position: absolute;
    left: 43%;
    top: 0;
    font-size: $font-size-normal;
    height: 100%;
}

.header-text-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
}

.header-image-wrapper {
    
    position: relative;
    font-size: 0;
    overflow: hidden;
    
    .header-image {
        mix-blend-mode: multiply;
        background-color: $brand-primary-dark;
    }
    
    @media screen and (min-width: 900px) {
        .header-image {
            width: 100%;
        }

        .header-avatar {
            position:absolute;
            left:18.3%;
            bottom: 0px;
            height: 100%;
        }
    }
    
    @media screen and (max-width: 899px) {
        .header-image {
            transform: translateX(-30%);
            height: 340px;
        }

        .header-avatar {
            position:absolute;
            left: -135px;
            bottom: 0px;
            height: 100%;
        }
    }
    
}

.home-top-message {
    position: relative;
    top: -7px;
    max-width: 460px;
    margin: 45px auto 25px auto;
}