.grid-item a.button {
    margin-bottom: 0;
    float: right;
    @media screen and (min-width: 768px) {
        margin-top: -37px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 10px;
    }
}