<link rel="stylesheet" href="/assets/css/skills.css">

<div class="container">

    <div class="heading-text heading-text--centered heading-text--header">
        The skills that pay the bills
    </div>

    <div class="row skills-top-text">

        <div class="one-half column">
            <p>
                Welcome to the skills page. Below is a list of technologies that I have worked with, coded in, deployed onto and generally wrestled with. These range from operating systems to programming languages and version control systems to frameworks.
            </p>
        </div>

        <div class="one-half column">
            <p>
                I've been developing software since I was 14, a childhood fascination that's bloomed into a fully fledged career. The love for building things is a bright light in my life that has not dimmed as I have grown up. You can see this by hovering over or tapping my face on the left.
            </p>
            <p>
                I love working with new technology, if there is something you're interested in but it's not on the list please let me know, I love to learn too.
            </p>
        </div>

    </div>

    <div id="skillsWrapper" ref="grid" class="grid">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>

        <div
            v-for="(item, itemIndex) in items"
            class="grid-item"
            :style="{ backgroundColor: getColour(itemIndex) }">

            <h2 class="grid-item-header">{{ item.title }}</h2>
            <a :href="item.url" class="grid-item-url" target="_blank">{{ item.url }}</a>

            <div class="grid-image-wrapper">
                <img class="grid-image" :src="item.image" :alt="item.title" />
            </div>

            <p>
                <template v-for="line in item.content.split('\n')">{{ line }}<br></template>
            </p>

        </div>
    </div>

</div>

<script src="/assets/js/skills/skills.js"></script>