button, .button {
    background-color: $brand-grey;
    color: $brand-white;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 0px;
    padding: 23px 25px;
    border-radius: $border-radius;
    
    &.button-primary {
        background-color: $brand-primary;
        color: $brand-white;
        &:hover, &:focus {
            color: $brand-white;
            background-color: darken($brand-primary, 5%);
        }
    }
    
    &:hover, &:focus {
        text-decoration: none;
        color: $brand-white;
        background-color: darken($brand-grey, 5%);
    }
    
    
}

