@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Muli:400,700|Raleway:400,700|Roboto:400,700');
@import "burger.scss";
@import "content_sliding.scss";
@import "buttons.scss";
@import "print.scss";
@import "blocks.scss";

$header-height: 60px;
$header-height-mobile: 45px;

html {
    height: 100%;
}


html, body {
    padding: 0;
    margin: 0;
    color: $text-primary;;
    min-width: 320px;
}

body {
    min-height: 100%;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $text-primary;
}
a:hover {
    text-decoration: underline;
    color: $text-primary;
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    background-color: #333;
}

#content {
    transition: background-color 0.3s;
    overflow: hidden;
    width: 100%;
}


header {
    font-family: 'Roboto', sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    text-transform: uppercase;
    color: $text-primary;
    font-weight: 700;
    position: relative;
    
    @media screen and (min-width: 700px) {
        font-size: 24pt;
    }
    @media screen and (max-width: 699px) {
        font-size: 16pt;
    }
    
    .header-logo-wrapper {
        float: left;
        margin-top: 6px;
    }
    
    .header-logo {
        margin-top: 3px;
        letter-spacing: -0.7px;
        font-weight: 700;
    }
    
    .header-background {
        background-color: $brand-primary;
        width: 100%;
        position: absolute;
    }
    
    img {
        margin-left: 15px;
    }
    
    img, .header-logo-square {
        position: relative;
        z-index: 1;
    }
    .navigation {
        
        .navigation-menu {
            
            float: right;
            
            .burger-icon {
                @media screen and (min-width: 700px) {
                    margin-top: 18px;
                }
                @media screen and (max-width: 699px) {
                    margin-top: 11px;
                }
            }

            ul {
                list-style: none;
                list-style-type: none;
                margin: 0;
                @media screen and (min-width: 700px) {
                    margin-top: 6px;
                }
                @media screen and (max-width: 699px) {
                    margin-top: 0px;
                }
                
                li {

                }
            }
        }
    }
    
    @media screen and (max-width: 767px) {
        .navigation {
            
            z-index: 100;
            position: relative;
            
            .navigation-menu {
                ul  {
                    float: none;
                    visibility: hidden;
                    position: absolute;
                    left: 0px;
                    top: -100px;
                    opacity: 0;
                    z-index: -1;
                    width: 100%;
                    padding-top: 0;
                    background-color: #222;
                    border-bottom: solid 2px $brand-primary;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;

                    li {
                        display: block;
                        border-bottom: solid 1px #333;
                        padding: 10px;
                        margin: 0;
                        span {
                            display: none;
                        }
                        a {
                            color: #fff;
                            width: 100%;
                            display: block;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        &.on {
                            font-weight: bold;
                        }
                    }


                }
                ul.open  {
                    visibility: visible;
                    
                    @media screen and (min-width: 700px) {
                        top: $header-height;
                    }
                    @media screen and (max-width: 699px) {
                        top: $header-height-mobile;
                    }
                    
                    opacity: 1;
                }
            }
        }
        
    }
    @media screen and (min-width: 768px) {
        .navigation {
            .navigation-menu {
                ul {
                    
                    li {
                        display: inline-block;
                        margin: 0 0 0 12px;
                        &.on {
                            a {
                                text-decoration: underline;
                            }
                        }
                    }

                }

                .burger-icon {
                    display: none;
                }
            }
        }
    }
    
}

header, header .header-background {
    @media screen and (min-width: 700px) {
        height: $header-height;
    }
    @media screen and (max-width: 699px) {
        height: $header-height-mobile;
    }
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 40px;

    bottom: -9px;
    left: 50%;
    margin-left: -25px;

    background-color: #999;
    color: #555;
    border: solid 1px #555;
    border-radius: 8px;

    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    vertical-align: top;

    overflow: hidden;
    
    display: none;
    opacity: 0;
    z-index: 100;
    
    &:hover {
        cursor: pointer;
    }

    &:after {
        content: "^"
    }
}


.footer-push {
    height: 145px;
}

footer {
    height: 105px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    color: #fff;
    font-size: 8pt;
    margin-top: 15px;
    
    padding: 20px 0;
    
    background-color: $footer-background;
}

@media screen and (min-width: 550px) {
    .footer-copyright {
        text-align: right;
    }
}

@media screen and (max-width: 449px) {
    .footer-copyright {
        margin-top: 1rem;
    }
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}