input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
select,
textarea {
    color: $text-grey;
}

textarea {
    resize: vertical;
}

label {
    margin: .5rem 0;
}